<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
       <div class="grid-container">
            <header class="row">
                <div>
                    <a href="#" class="brand">Amazona</a>
                </div>
                <div>
                    <a href="#">Cart</a>
                    <a href="#">Sign In</a>
                </div>
            </header>
            <main>
                <ul>
                    <li>Project1</li>
                    <li>Project2</li>
                    <li>Project3</li>
                    <li>Project4</li>
                    <li>Project5</li>
                    <li>Project6</li>
                </ul>
            
            </main>
            <footer class="row center">
                All Rights Reserved
            </footer>
       </div>
    </body>
</html>